:root {
    /* PRIMARY COLORS */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* BACKGROUND COLORS*/
    --bkgnd-light-red: hsla(0, 100%, 67%, 0.09);
    --bkgnd-orange-yellow: hsla(39, 100%, 56%, 0.09);
    --bkgnd-green-teal: hsla(166, 100%, 37%, 0.09);
    --bkgnd-cobalt-blue: hsla(234, 85%, 45%, 0.09);


    /* GRADIENTS */
        /* Background */
    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
        /* Circle */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* NEUTRAL COLORS */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);


    /* Margins */
    --summary-comps-margin-btm: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: 'Hanken Grotesk';
    background-color: var(--pale-blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 
    ====================== MOBILE DESIGN ====================== 
*/

#container {
    display: flex;
    flex-direction: column;
    max-width: 37.5rem;
    font-size: 1.6rem;
    background-color: var(--white);
}


.text-center {
    text-align: center;
}


/* 
    =========== RESULTS SECTION =========== 
*/

#results {
    padding: 2.4rem 0 4rem;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: 0 0 3.2rem 3.2rem;
}

.results__header {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--light-lavender);
}

.score {
    margin: 2.4rem 11.7rem;
    padding: 2.3rem 3.8rem;
    border-radius: 100%;
    background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.score-number {
    font-size: 5.6rem;
    line-height: 7.2rem;
    font-weight: 800;
    color: var(--white);

}

.score-total {
    color: var(--light-lavender);
    opacity: 0.5;
    font-weight: 700;
}

.header--secondary {
    color: var(--white);
    font-size: 2.4rem;
    line-height: 3.1rem;
    margin-bottom: .8rem;
}

.content {
    margin: 0 5.7rem;
    color: var(--light-lavender);
}

/*
    =========== SUMMARY SECTION ===========
*/

#summary {
    margin: 2.4rem 3rem;
}

.summary__header {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.item {
    width: 31.5rem;
    padding: 1.8rem 1.6rem;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    margin-bottom: var(--summary-comps-margin-btm);
}

.item__name {
    margin-left: 1.2rem;
}

.item__score {
    margin-left: auto;
    font-weight: 700;
}

.item__score-num {
    margin-right: .4rem;
}

.item__score-total {
    color: var(--dark-gray-blue);
    opacity: 0.5;
}

/* Reaction */

.item--reaction {
    background-color: var(--bkgnd-light-red);
}

.name--reaction {
    color: var(--light-red);
}

/* Memory */

.item--memory {
    background-color: var(--bkgnd-orange-yellow);
}

.name--memory {
    color: var(--orange-yellow);
}

/* Verbal */

.item--verbal {
    background-color: var(--bkgnd-green-teal);
}

.name--verbal {
    color: var(--green-teal);
}

/* Visual */ 

.item--visual {
    background-color: var(--bkgnd-cobalt-blue);
}

.name--visual {
    color: var(--cobalt-blue);
}


/*
    ========== BUTTON ==========
*/

button[type="button"] {
    padding: 1.6rem 12rem;
    margin: auto;
    margin-top: calc(2.4rem - var(--summary-comps-margin-btm));
    border-radius: 12.8rem;
    border: transparent;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
}

button[type="button"]:active {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}


/*
    ====================== DESKTOP DESIGN ====================== 
*/
@media only screen and (min-width: 680px) {
    #container {
        flex-direction: row;
        max-width: 73.6rem;
        border-radius: 3.2rem;
        font-size: 1.8rem;
    }

    /* 
        =========== RESULTS SECTION =========== 
    */

    #results {
        padding: 3.8rem 0 4.6rem;
        border-radius: 3.2rem;
    }

    .results__header {
        font-size: 2.4rem;
    }

    .score {
        margin: 3.5rem 8.4rem 2.8rem;
        padding: 5.5rem 6rem 4.6rem;
    }

    .score-number {
        font-size: 7.2rem;
    }

    .header--secondary {
        font-size: 3.2rem;
        line-height: 4.1rem;
        margin-bottom: 1.4rem;
    }

    .content {
        margin: 0 5.4rem;
    }
}

/*
    ============ FOOTER ============
*/
footer { 
    font-size: 11px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}